services:
    catalogdb:
        image: postgres:17.4
        
    basketdb:
        image: postgres:17.4

    distributedcache:
        image: redis

    catalog.api:
        image: ${DOCKER_REGISTRY-}catalogapi
        build:
          context: .
          dockerfile: Services/Catalog.API/Dockerfile
    
    basket.api:
        image: ${DOCKER_REGISTRY-}basketapi
        build:
          context: .
          dockerfile: Services/Basket.API/Dockerfile

volumes:
        postgres_catalog:
        postgres_basket:
